<a href="https://colab.research.google.com/github/raunakdwivedi03/Python/blob/main/Pyhton_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##python is dynamic Size in nature beacuse the size of array list is dynamic they can grow or shrink during execution
L=[10,20,20,30,40,50]

print(id(L))
print(id(L[0]))  ### basically ID strore the address of the array element
print(id(L[1]))
print(id(L[4]))
print(id(1))
print(id(2))

140338071384384
11654664
11654984
11655624
11654376
11654408

In [ ]:
## characterstics of List
#1. ordered
#2. changeable / mutable
#3. Hetrogenous
#4. can have duplicates
#5. are dynamic
#6. item can be accessed
#7. can contain any kind of objects in python

In [ ]:
L=[1,2,3]

Creating a List

In [ ]:
#empty
print([])
#1D
print([1,2,3,4,5])
#2D
print([4,5,[1,2,3]])
#3D
print([1,2,[3,4,[5,6]]])
#hetrogenous
print(1,True,5.6,5+6j,'hello')
#using type Conversion
print(list('hello'))

[]
[1, 2, 3, 4, 5]
[4, 5, [1, 2, 3]]
[1, 2, [3, 4, [5, 6]]]
1 True 5.6 (5+6j) hello
['h', 'e', 'l', 'l', 'o']

Acessing item from List

In [ ]:
##indexing
l=[1,2,3,4,[5,6],6]
print(l[0])   #positive
print(l[-2])  #negative
print(l[4][1])

1
[5, 6]
6

In [ ]:
##slicing
l=[1,2,3,4,5,6,6,]
print(l[0::2])
print(l[-3:1:2])
print(l[::-1])

[1, 3, 5, 6]
[]
[6, 6, 5, 4, 3, 2, 1]

Adding Item to a List

In [ ]:
##append -> adds ONE element at the END of a list.
l=[1,2,3,4,5]
l.append(6)
l.append([6,7,8])
l.append('delhi')

print(l)

[1, 2, 3, 4, 5, 6, [6, 7, 8], 'delhi']

In [ ]:
#extend --> ek list ke elements ko dusri list ke END me add karta hai (one by one).
l=[1,2,3,4,5]
l.extend([6,7,8])
l.extend('delhi')
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 'd', 'e', 'l', 'h', 'i']

In [ ]:
#insert--> kisi specific index par element add karta hai.
l=[1,2,3,4,5]
l.insert(2,10)
l.insert(4,3023)

print(l)

[1, 2, 10, 3, 3023, 4, 5]

Ending items in a List

In [ ]:
L=[1,2,3,4,5,6,7,8,9,90]

#editing with indexing
L[-1]=500
print(L)

##editing with slicing
L[1:4]=[200,300,400]

print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 500]
[1, 200, 300, 400, 5, 6, 7, 8, 9, 500]

Deleting Items

In [ ]:
#del : is mutalble can change after it create
L=[1,2,3,4,5,6,7,8,9,90]
del L[2:-5] #through slicing
del L[5] ##indexing
print(L)

[1, 2, 6, 7, 8, 90]

In [ ]:
##remove -> delete the item with it values
L=[1,2,4,4,3,2,11,4,563,4]

L.remove(4)
print(L)

[1, 2, 4, 3, 2, 11, 4, 563, 4]

In [ ]:
#pop -> kisi particular index pe rakhe hue item ko delete kr skta hai
l=[1,2,3,42,2,1,4,52,4]

l.pop(5)
print(l)

l.pop()
print(l)

[1, 2, 3, 42, 2, 4, 52, 4]
[1, 2, 3, 42, 2, 4, 52]

In [ ]:
##clear -> delete the entire list
l=[1,2,3,4,4,3,4,2]
l.clear()

print(l)

[]

Operations on list

In [ ]:
##airthmetic function(+,*)
l1=[12,3,4,5,53,3]
l2=[1,3,2,4,2,4,2]

print(l1*3)
print(l1+l2)

[12, 3, 4, 5, 53, 3, 12, 3, 4, 5, 53, 3, 12, 3, 4, 5, 53, 3]
[12, 3, 4, 5, 53, 3, 1, 3, 2, 4, 2, 4, 2]

In [ ]:
l1=[12,2,3,4,3,4]
l2=[1,2,3,4,3,[5,6],4]


print(5 not in l1)
print([5,6]  in l2)

True
True

In [ ]:
##loops
l1=[12,2,3,4,3,4]
l2=[1,2,3,4,3,[5,6],4]

for i in l1:
  print(i)

12
2
3
4
3
4

In [ ]:
#loops in 3D
l1=[12,2,3,4,3,4]
l2=[1,2,3,4,3,[5,6],4]
l3=[1,2,[3,4,[5,6]]]

for i in l3:
  print(i)

1
2
[3, 4, [5, 6]]

functions in a List

In [ ]:
#len/min/max/sorted -> works when the data is homogenous
l=[1,2,3,4,5,6,3]

print(len(l))
print(min(l))
print(max(l))
print(sorted(l)) #by default it sorted in ascending order
print(sorted(l,reverse=True)) #by default sorted in decending order

7
1
6
[1, 2, 3, 3, 4, 5, 6]
[6, 5, 4, 3, 3, 2, 1]

In [ ]:
#count
l=[1,2,3,4,5,6,3]

print(l.count(3))

2

In [ ]:
#index
l=[1,2,3,4,5,6,3]

print(l.index(3))

2

In [ ]:
#reverse
l=[1,2,3,4,5,6,3]

l.reverse() #--> permanently reverse the list means original list is mutated
print(l)

[3, 6, 5, 4, 3, 2, 1]

In [ ]:
#sort (vs Sorted)
l = [4, 2, 6, 1, 5]

# Using sorted() → creates a new list
new_list = sorted(l)
print("Original list:", l)
print("New sorted list:", new_list)

# Using sort() → modifies the original list
l.sort()
print("After using sort():", l)

Original list: [4, 2, 6, 1, 5]
New sorted list: [1, 2, 4, 5, 6]
After using sort(): [1, 2, 4, 5, 6]

In [ ]:
##copyv--> shallow
l=[1,2,3,4,5,6,3]
print(l1)
print(id(l1))
l1=l.copy()
print(l1)
print(id(l1))

[12, 2, 3, 4, 3, 4]
140338072319808
[1, 2, 3, 4, 5, 6, 3]
140338072000896

List comprehension
-->List comprehension Python ka short-cut method hai list banane ka, bina lamba for loop likhe.

Simple Definition (Exam ke liye)

List comprehension ek single line ka code hota hai jisse hum nayi list bana sakte hain.

Basic Syntax
[expression for item in iterable]

In [ ]:
##add 1 to 10 number to a list
l=[]

for i in range(1,11):
  l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#using List expresion -> saves compilation time
l=[i for i in range(1,11)]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#scalers multiplication on a vector
v=[1,2,3,4,5]
s=2

x=[]
for i in v:
  x.append(s*i)
print(x)

[2, 4, 6, 8, 10]

In [ ]:
#scalers multiplication on a vector using List compreshension
v=[1,2,3,4,5]
s=2

l=[s*i for i in v]
print(l)

[2, 4, 6, 8, 10]

In [ ]:
##add squares
l=[1,2,3,4,5,6,5]

[i**2 for i in l]

[1, 4, 9, 16, 25, 36, 25]

In [ ]:
#Print all number divisible by 5,2 in the range of 1 to 50
[i for i in range(1,51) if i%5 == 0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
[i for i in range(1,51) if i%2 == 0]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [ ]:
##find the language which start with p
languages=['java','python','php','c','javascript']

[language for language in languages if language.startswith('p')]

['python', 'php']

In [ ]:
#nested if with list compreshenshion
basket=['apple','guava','cherry','banana']
my_fruits=['apple','kiwi','grapes','banana']

fruits=[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]
print(fruits)

['apple']

In [ ]:
#print a 3,3 matrix using the list comprehension
result = [[i*j for i in range(1, 4)] for j in range(1, 4)]
print(result)

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [ ]:
## cartesian products -> list comprehension
l1=[1,2,3,4]
l2=[5,6,7,8]
[i*j for i in l1 for j in l2]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

In Python, zip() is used to combine multiple iterables (like lists, tuples, strings) element-by-element into pairs (or tuples).

In [ ]:
a=[1,2,3,4,5,6,6]
b=['abc','bcd','efg']

result=list(zip(a,b))
print(result)

[[i,j] for (i,j) in zip(a,b)] ##lsit compreshension

[(1, 'abc'), (2, 'bcd'), (3, 'efg')]

[[1, 'abc'], [2, 'bcd'], [3, 'efg']]

In [ ]:
##add new to list after specific items
list

In [ ]:
###3d list
list1=[1,2,[3,4,[5,6],5],1,8]
list1[2][2].append(4242)
list1

[1, 2, [3, 4, [5, 6, 4242], 5], 1, 8]

In [ ]:
#update no of items avialable candy
candy_list=['k','R','Y','E','G']
no_of_C=[10,23,4,2,1]

for (i,j) in zip(candy_list,no_of_C):
  print( i,'-',j)

k - 10
R - 23
Y - 4
E - 2
G - 1

In [ ]:
##running sum in a list
list1=[1,2,3,4,5,5]
result=[]
sum=0
for i in list1:
  sum=sum+i
  result.append(sum)

print(result)

[1, 3, 6, 10, 15, 20]

Problem Statement:
Given a list of numbers, find the sum of all pairs (i, j) such that

both i and j belong to the list

and i <= j

Store the final sum inside a list and print it.

(Your code clearly tries to compare two elements and add something to sum.)

In [ ]:
l = [1, 2, 3, 4, 5, 4]
result = []

for i in l:
    total = 0          # reset for each i
    for j in l:
        if i <= j:
            total = total + j
    result.append(total)

print(result)

[19, 18, 16, 13, 5, 13]

In [ ]:
##find the list of common unique items for two list and show in increasing order
l1=[1,2,3,4,5,6,7]
l2=[3,4,2,2,1,3,42]

common=[]
for i in l1:
 if i in l2:
    if i not in common:
      common.append(i)

print(common)

[1, 2, 3, 4]

Problem statement :
You are given a list of strings that may contain alphabets and digits mixed together.

L = ['1ac21', '23fg', '456', '098d', '1', 'kls']

Task:

For each string in the list:

Extract only the digits.

Calculate the product of those digits.

If a string has no digits, its product should be considered 1 (default initialization).

Create a list that stores the product corresponding to each string.

Sort the original strings in descending order based on their calculated digit-products.

In [ ]:
# Write code here
L = ['1ac21', '23fg', '456', '098d', '1', 'kls']
prod_value = []

for item in L:
    product = 1
    for char in item:
        if char.isdigit():
            product = product * int(char)
    prod_value.append(product)

# sorting strings based on product value (descending)
result = [i[1] for i in sorted(list(zip(prod_value, L)), reverse=True)]

print(result)

['456', '23fg', '1ac21', 'kls', '1', '098d']

In [ ]:
##split the string into K characters
l=['i am' , 'great ','person']
input=''
result=[]

for i in l:
  result.extend(i.split())


print(result)

['i', 'am', 'great', 'person']

In [ ]:
test_list = ['campusXis', 'bestFor', 'datascientist']

res = []

for i in test_list:
    temp = [[]]

    for char in i:
        if char.isupper():
            temp.append([])
        temp[-1].append(char)

    temp_string = ""
    for item in temp:
        temp_string = temp_string + "".join(item) + " "

    res.append(temp_string[:-1])  # remove last space

print(res)

['campus Xis', 'best For', 'datascientist']

In [1]:
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

transpose = [[row[i] for row in matrix] for i in range(len(matrix))]

print(transpose)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [2]:
L = [[1,2,3], [4,5,6], [7,8,9]]
result = []

for i in L:
    result.append(max(i))

print(result)

[3, 6, 9]

In [4]:
L1 = [1, 2, 3, 4, 5, 1]
L2 = [2, 3, 5, 7, 8]

union = []

for i in L1:
    if i not in union:
        union.append(i)

for j in L2:
    if j not in union:
        union.append(j)

print(union)

[1, 2, 3, 4, 5, 7, 8]