<a href="https://colab.research.google.com/github/raunakdwivedi03/Python/blob/main/Python_TUPLE_SET_DIC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TUPLEs in Python

A tuple in Python is a collection of items that is:

Ordered (items have a fixed position/index)

Immutable (cannot be changed after creation)

Can store different data types

In [ ]:
# 1Ô∏è‚É£ Empty tuple
t1 = ()
print(t1)            # Output: ()

# 2Ô∏è‚É£ Single element tuple (comma is required)
t2 = ('hello',)
print(t2)            # Output: ('hello',)
print(type(t2))      # Output: <class 'tuple'>

# 3Ô∏è‚É£ Homogeneous tuple (same data type elements)
t3 = (1, 2, 3, 4)
print(t3)            # Output: (1, 2, 3, 4)

# 4Ô∏è‚É£ Heterogeneous tuple (different data types)
t4 = (1, 2.5, True, [1, 2, 3])
print(t4)            # Output: (1, 2.5, True, [1, 2, 3])

# 5Ô∏è‚É£ Nested tuple (tuple inside another tuple)
t5 = (1, 2, 3, (4, 5))
print(t5)            # Output: (1, 2, 3, (4, 5))

# 6Ô∏è‚É£ Tuple using type conversion
t6 = tuple('hello')
print(t6)            # Output: ('h', 'e', 'l', 'l', 'o')

()
('hello',)
<class 'tuple'>
(1, 2, 3, 4)
(1, 2.5, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

INdexing
SLicing

In [ ]:
##indexing
t3=(1,2,3,4)
print(t3[0])
print(t3[1])
print(t3[2])
print(t3[3])

1
2
3
4

In [ ]:
#slicing
t3=(1,2,3,4)
print(t3[0:2])
print(t3[0:4:3])
print(t3[0:-1])

(1, 2)
(1, 4)
(1, 2, 3)

In [ ]:
t5=(1,2,3,(4,5))
print(t5[3][0])

4

In [ ]:
#edit items
t3=(1,2,3,4)
t3[0]=100

## tuples are imutable edit nhi kr skte hai

TypeError: 'tuple' object does not support item assignment

Adding ITems

In [ ]:
##adding items
t3=(1,2,3,4)
t3=t3+(5,6)
print(t3)

(1, 2, 3, 4, 5, 6)

In [ ]:
##delete items
print(t3)
del t3
print(t3)

(1, 2, 3, 4, 5, 6)

NameError: name 't3' is not defined

In [ ]:
print(t5)
t5[-1:-4:-1]

(1, 2, 3, (4, 5))

((4, 5), 3, 2)

Operations pn tuple

In [ ]:
t1=(1,2,3,4)
t2=(5,6,7,8)
print(t1+t2)
print(t1*3)

#membership
1 in t1

#iteration
for i in t1:
  print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
1
2
3
4

In [ ]:
##tuples function
#len/sum/min/max/sorted
t3=(1,2,3,4)
print(len(t3))
print(sum(t3))
print(min(t3))
print(max(t3))
print(sorted(t3))
print(sorted(t3,reverse=True))

4
10
1
4
[1, 2, 3, 4]
[4, 3, 2, 1]

In [ ]:
#count
t=(1,2,1,4,1,6)
print(t.count(1))

3

In [ ]:
#index
t=(1,2,1,4,1,6)
print(t.index(6))

5

In [ ]:
# List uses []
my_list = [1, 2, 3]

# Tuple uses ()
my_tuple = (1, 2, 3)

print(my_list)
print(my_tuple)

[1, 2, 3]
(1, 2, 3)

In [ ]:
#special syntax
my_tuple = 3, 4.6, "dog"
print(my_tuple)

(3, 4.6, 'dog')

In [ ]:
a=1
b=2
a,b=b,a
print(a,b)

2 1

In [ ]:
a,b,*other=(1,2,3,4,5)
print(a)
print(b)
print(other)

1
2
[3, 4, 5]

In [ ]:
#zIping in tuples
a=(1,2,3)
b=(4,5,6)
c=zip(a,b)
c=tuple(c)
print(c)

((1, 4), (2, 5), (3, 6))

SETs What is a Set?

A set is a collection that is:

Unordered

Mutable

Does NOT allow duplicate values

In [ ]:
#creating sets
s1={1,2,3,4}

print(s1)
print(type(s1))

{1, 2, 3, 4}
<class 'set'>

In [ ]:
##empty set
s={}
print(s)
print(type(s)) #--> this is fo
#1d set and 2d
s2={1,2,3,4,5,6,5}
print(s2)
print(type(s2))

{}
<class 'dict'>
{1, 2, 3, 4, 5, 6}
<class 'set'>

In [ ]:
#hetrogenous set
s3={1,2.5,True,'hello'}
print(s3)
print(type(s3))
#homogenous set
s4={1,2,3,4, True} #here 1 and true seems same to each other that why it not in o/p
print(s4)
print(type(s4))

#using type conversion
s5=set([1,2,3,4])
print(s5)
print(type(s5))

{1, 2.5, 'hello'}
<class 'set'>
{1, 2, 3, 4}
<class 'set'>
{1, 2, 3, 4}
<class 'set'>

In [ ]:
##duplicates not allowed
s6={1,2,3,4,5,6,5}
print(s6)

{1, 2, 3, 4, 5, 6}

In [ ]:
#set can't have the mutable items
s7={1,2,[3,4]}
print(s7)

{1, 2, 3, 4}

In [ ]:
S1={1,2,3,4}
S2={3,4,1,2}

print(S1==S2)

True

In [ ]:
##Accessing items
S1={1,2,3,4}
for i in S1:
  print(i)

1
2
3
4

In [ ]:
#adding the items
S1={1,2,3,4}
S1.add(5)
print(S1)

#update
S1.update([6,7,8])
print(S1)

#s.add
S1.add(9)
print(S1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# DELETING ELEMENTS FROM A SET

#  remove()
# Removes a specific element from the set
# If the element does NOT exist ‚Üí ERROR occurs
S1 = {1, 2, 3, 4}
S1.remove(4)
print(S1)


#  discard()
# Removes a specific element from the set
# If the element does NOT exist ‚Üí NO error
S1 = {1, 2, 3, 4}
S1.discard(4)
print(S1)


#  pop()
# Removes and returns a RANDOM element from the set
# Because sets are unordered, you don't know which element is removed
S1 = {1, 2, 3, 4}
removed_element = S1.pop()
print(removed_element)  # Random value
print(S1)               # Remaining elements


#  clear()
# Removes ALL elements from the set
# Set becomes empty
S1 = {1, 2, 3, 4}
S1.clear()
print(S1)

{1, 2, 3}
{1, 2, 3}
1
{2, 3, 4}
set()

SET operations

In [ ]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

# -------------------------------
# UNION ( | )
# Combines elements from both sets
# Removes duplicates automatically
print(s1 | s2)
# Output: {1, 2, 3, 4, 5, 6, 7, 8}


# -------------------------------
# INTERSECTION ( & )
# Returns only common elements between both sets
print(s1 & s2)
# Output: {4, 5}


# -------------------------------
# DIFFERENCE ( - )
# Elements present in s1 but NOT in s2
print(s1 - s2)
# Output: {1, 2, 3}

# Elements present in s2 but NOT in s1
print(s2 - s1)
# Output: {6, 7, 8}


# -------------------------------
# SYMMETRIC DIFFERENCE ( ^ )
# Elements that are in either set
# BUT NOT common in both
print(s1 ^ s2)
# Output: {1, 2, 3, 6, 7, 8}


# -------------------------------
# MEMBERSHIP TEST
# Checks whether an element exists in the set
print(1 in s1)     # True
print(10 in s1)    # False


# -------------------------------
# ITERATION
# Looping through a set
for i in s1:
    print(i)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}
True
False
1
2
3
4
5

SET functions

In [ ]:
#len/min/max/sum/sorted
s1 = {1, 2, 3, 4, 5}
print(len(s1))
print(min(s1))
print(max(s1))
print(sum(s1))
sorted(s1)

5
1
5
15

[1, 2, 3, 4, 5]

In [ ]:
##union/update
s1={1,2,3,4}
s2={3,4,5,6}
s1.union(s2)

s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6}
{3, 4, 5, 6}

In [ ]:
#intersection/intersectino_update
s1={1,2,3,4}
s2={3,4,5,6}
s1.intersection(s2)

s1.intersection_update(s2)
print(s1)
print(s2)

{3, 4}
{3, 4, 5, 6}

In [ ]:
##difference update/difference
s1={1,2,3,4,5,6,6}
s2={2,3,4,5,6,7,4}

s1.difference(s2)

s1.symmetric_difference(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6}
{2, 3, 4, 5, 6, 7}

In [ ]:
#isdisjoint/issubset/issuperset
s1={1,2,3,4}
s2={3,4,5,6}
s1.isdisjoint(s2)

s1.issubset(s2)

False

In [ ]:
s1={1,2,3,4,5,6,64}
s2={3,4,5}

s1.issuperset(s2)

True

In [ ]:
#copy -> it created a shallow copy
s1={1,2,3,4}
s2=s1.copy()
print(s1)

{1, 2, 3, 4}

FrozenSet  -
What is a frozenset?

Unordered

No duplicate values

Immutable (no add, remove, update)

In [ ]:
##create Frozenset
fs=frozenset([1,2,3,4])
print(fs)
print(type(fs))

frozenset({1, 2, 3, 4})
<class 'frozenset'>

In [1]:
#create frozen set
fs1=frozenset([1,2,3,4])
fs2=frozenset([3,4,5,6])

fs1 | fs2

frozenset({1, 2, 3, 4, 5, 6})

SETcompreshension

In [3]:
{
    i**2 for i in range(1,11) if i>5
}

{36, 49, 64, 81, 100}

Dictionary ->A dictionary in Python is a built-in data type used to store data in key‚Äìvalue pairs.

üîπ Simple Definition

A dictionary stores data like a real-life dictionary:

word (key) ‚Üí meaning (value)

In [6]:
#dict_name = {key: value, key: value}

In [5]:
#mutable
#indexing has no meaning
#keys can't  be duplicated
#keys can't be mutable items

In [7]:
# 1. Empty Dictionary
d1 = {}
print("Empty Dictionary:", d1)

# 2. 1D Dictionary
d2 = {
    "name": "Amit",
    "age": 21,
    "course": "Python"
}
print("1D Dictionary:", d2)

# 3. Dictionary with Mixed Keys
d3 = {
    1: "one",
    "two": 2,
    (3, 4): "tuple key"
}
print("Mixed Keys Dictionary:", d3)

# 4. 2D Dictionary (Nested Dictionary) --> JSON
d4 = {
    101: {"name": "Rahul", "age": 20},
    102: {"name": "Anita", "age": 21}
}
print("2D Dictionary:", d4)

# 5. Using Sequence and dict() function
pairs = [(1, "a"), (2, "b"), (3, "c")]
d5 = dict(pairs)
print("Using sequence:", d5)

# Using zip()
keys = ["name", "age", "city"]
values = ["Rohit", 22, "Delhi"]
d6 = dict(zip(keys, values))
print("Using zip():", d6)

# 6. Duplicate Keys
d7 = {
    "a": 1,
    "b": 2,
    "a": 3
}
print("Duplicate Keys Dictionary:", d7)

# 7. Mutable Items as Keys (NOT ALLOWED)
# This will give an error because list is mutable
# d8 = {[1, 2, 3]: "list key"}

# Correct way (use tuple instead)
d8 = {(1, 2, 3): "tuple key"}
print("Immutable Key Dictionary:", d8)

Empty Dictionary: {}
1D Dictionary: {'name': 'Amit', 'age': 21, 'course': 'Python'}
Mixed Keys Dictionary: {1: 'one', 'two': 2, (3, 4): 'tuple key'}
2D Dictionary: {101: {'name': 'Rahul', 'age': 20}, 102: {'name': 'Anita', 'age': 21}}
Using sequence: {1: 'a', 2: 'b', 3: 'c'}
Using zip(): {'name': 'Rohit', 'age': 22, 'city': 'Delhi'}
Duplicate Keys Dictionary: {'a': 3, 'b': 2}
Immutable Key Dictionary: {(1, 2, 3): 'tuple key'}

Accessing items

In [10]:
my_dict={'name' : 'Rooney' , 'age':24}
print(my_dict['name'])
print(my_dict['age'])

##get function
my_dict.get('name')
#

Rooney
24

'Rooney'

In [11]:
##adding new key value pairs
d4['gender']='male'
d4

{101: {'name': 'Rahul', 'age': 20},
 102: {'name': 'Anita', 'age': 21},
 'gender': 'male'}

REmoving key value pairs

In [13]:
# Correct Dictionary
d = {
    'name': 'Rooney',
    'age': 32,
    3: 3,
    'gender': 'male',
    'weight': 72
}

print("Original Dictionary:", d)

# pop() ‚Üí removes specific key
d.pop('age')
print("After pop('age'):", d)

# popitem() ‚Üí removes last inserted item
d.popitem()
print("After popitem():", d)

# del ‚Üí deletes specific key
del d['name']
print("After del['name']:", d)

# clear() ‚Üí removes all items
d.clear()
print("After clear():", d)

Original Dictionary: {'name': 'Rooney', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
After pop('age'): {'name': 'Rooney', 3: 3, 'gender': 'male', 'weight': 72}
After popitem(): {'name': 'Rooney', 3: 3, 'gender': 'male'}
After del['name']: {3: 3, 'gender': 'male'}
After clear(): {}

Operations
!. membership
@. iterations

In [14]:
# Dictionary
d = {
    "name": "Rooney",
    "age": 32,
    "country": "England"
}

# 1. Membership Operation (in / not in)
print("name" in d)        # True
print("salary" in d)     # False
print("age" not in d)    # False

# 2. Iteration Operation
print("\nIteration using for loop:")
for key in d:
    print(key, ":", d[key])

True
False
False

Iteration using for loop:
name : Rooney
age : 32
country : England

In [17]:
##len/sorted
len(d)
print(d)
print(sorted(d,reverse=True))

{'name': 'Rooney', 'age': 32, 'country': 'England'}
['name', 'country', 'age']

In [19]:
##items/keys/values
print(d)

print(d.items())
print(d.keys())
print(d.values())

{'name': 'Rooney', 'age': 32, 'country': 'England'}
dict_items([('name', 'Rooney'), ('age', 32), ('country', 'England')])
dict_keys(['name', 'age', 'country'])
dict_values(['Rooney', 32, 'England'])

In [20]:
#update
d1={1:1,2:4,3:9}
d2={4:16,5:25}

d1.update(d2)
print(d1)
print(d2)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{4: 16, 5: 25}

Dictonary Comprehension

In [21]:
#syntax ={key: value for item in iterable}

In [22]:
squares = {x: x*x for x in range(1, 6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [23]:
even_squares = {x: x*x for x in range(1, 11) if x % 2 == 0}
print(even_squares)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [25]:
prices = {"apple": 100, "banana": 40, "mango": 80}

discount = {k: v-10 for k, v in prices.items()}
print(discount)

{'apple': 90, 'banana': 30, 'mango': 70}

In [26]:
#using zip
keys = ["name", "age", "city"]
values = ["Rooney", 32, "London"]

d = {k: v for k, v in zip(keys, values)}
print(d)

{'name': 'Rooney', 'age': 32, 'city': 'London'}

In [27]:
#nested comprehension
table = {i: {j: i*j for j in range(1, 6)} for i in range(1, 4)}
print(table)

{1: {1: 1, 2: 2, 3: 3, 4: 4, 5: 5}, 2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10}, 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15}}