<a href="https://colab.research.google.com/github/raunakdwivedi03/Python/blob/main/Python_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python
: It is a case Sensitive language

In [ ]:
print('hello world')

hello world

In [ ]:
print('Raunak dwivedi is open for work')

Raunak dwivedi is open for work

In [ ]:
print(12345)
print(7.7)
print(True)
print(False)

12345
7.7
True
False

In [ ]:
print('hello', 1 ,  4.5 ,  True,sep=' / ') #sep is used to seperated

hello / 1 / 4.5 / True

In [ ]:
print('hello')
print('world')

hello
world

In [ ]:
print('hello',end=' - ')
print('world')

hello - world

Topic-2 : **DATA TYPES**

In [ ]:
#integer
print(8)
print(10e308)

8
inf

In [ ]:
#deicmal or float
print(1.394)
print(1.7e100003)

1.394
inf

In [ ]:
#boolean
print(True)
print(False)

True
False

In [ ]:
#String/Text
print('hello world')

hello world

In [ ]:
#complex
print(4+5j)

(4+5j)

In [ ]:
#List -> C or CPP me array
print([1,2,3,4,5,6,7,7])

[1, 2, 3, 4, 5, 6, 7, 7]

In [ ]:
#Tuple-> is basically stores the multiple values in them it is different from list because list only store the identicle data
print((1,2,3,4,5,6,'raunak',8 , True ,8.32 , 13e392))

(1, 2, 3, 4, 5, 6, 'raunak', 8, True, 8.32, inf)

In [ ]:
#sets -> it is a unordered which didn't allow the same values
print({1,2,3,3,2,1 },{6,7,8} , {1,2,3})

{1, 2, 3} {8, 6, 7} {1, 2, 3}

In [ ]:
#Dictionary
print({
    'name' : 'Raunak',
    'gender' : 'male',
    'occupation' : 'Student who Open to world',

})

{'name': 'Raunak', 'gender': 'male', 'occupation': 'Student who Open to world'}

In [ ]:
#type
print(type('hello'))
print(type(4+5j))
print(type(4))
print(type(4.5))
print(type(True))

<class 'str'>
<class 'complex'>
<class 'int'>
<class 'float'>
<class 'bool'>

Topic 3 : **Variable** is a cointainer in which we store the values for future use.

In [ ]:
## Static Vs Dynamic typing

In [ ]:
name= 'Raunak'
print(name)

a=5
b=6
print(a-b)

Raunak
-1

In [ ]:
## Dynamic Typing : is where we did not tell the data type during creating a variable
b=6
print(b)

## Static typing : initialization of Datatype during creation generally we use it in CPP/C.

## Dynamic binding : Kaunsa function call hoga, ye program chalne ke time decide hota hai.
a=5
print(a)
a='raunak'
print(a)

6
5
raunak

In [ ]:
## printing variables in one function
a=2
b=4
c=23
print(a,b,c)

2 4 23

In [ ]:
a,b,c =1,2,3
print(a,b,c)

1 2 3

In [ ]:
## printing the same values for different variables
a=b=c=5
print(a,b,c)

5 5 5

Topic 4 : **Keyword and Identifiers**

---

In [ ]:
## keywords : reserved words hote hain jinka special meaning hota hai language ke andar.
## python have 32 words https://beginnersbook.com/2019/03/python-keywords-and-identifiers/

In [ ]:
# Identifiers : kisi cheez ka naam in Python can not start with digit
name1= 'Raunak'
print(name1)

#use the special character use just undercore ( __ )
first_name='Dwivedi'
_='Dwivedi'
print(_)

#identifiers can not be keywords

Raunak
Dwivedi

topic 5 : **User Input**

In [ ]:
#steps
# 1. take inputs from the users and store them in a variable
fnum= input("enter first number ") #fnum is a random variable just called it first number
snum= input('enter the second number') # second number

#adding the variables
Result = int(fnum) + int(snum) ## using the typeconversion in python data is create a new value

#print the result
print(Result)
print(type(fnum)) ##thats why it shows the str

enter first number 2
enter the second number86
88
<class 'str'>

Topic 6 : **TypeConversion**

In [ ]:
#implicit and Explicit type conversion
#implicit type conversion -> Python khud automatically data type change kar deta hai

print(5+5.6)

#Explicit Type COnversion -> Programmer khud type change karta hai
print(type(5),type(5.6))

10.6
<class 'int'> <class 'float'>

In [ ]:
#explcit
#str ->int
int(4)

##int to str
str(5)

#float
float(5)

5.0

Topic 7 : **Literals**

In [ ]:
#Literals = actual values jo program me use hoti hain
a=0b1010 ##binary Number representation
b= 100   ##Integer
c=0o1010 ##Octal
d=0x12c  ##hexadecimal

##float Literals
float_1=10.5
float_2=1.5e3
float_3=1.5e-3

##Complex Literals
x=3+14j

print(a,b,c,d)
print(float_1,float_2,float_3)
print(x)
print(x,x.imag,x.real)

10 100 520 300
10.5 1500.0 0.0015
(3+14j)
(3+14j) 14.0 3.0

In [ ]:
string ='this is python'
strings = "this is python"
char ="c"
multiline_str="""this is the multiline code with more then one line code."""
unicode = u"\U0001F60D"
raw_str = r"raw \n string"
print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

this is python
this is python
c
this is the multiline code with more then one line code.
üòç
raw \n string

In [ ]:
a= True+4 ## true is 1
b= False +11 ##false is 0

print("a : " ,a)
print("b : " ,b)

#python treated boolean as a number

a :  5
b :  11

In [ ]:
a=None
print(a) ##none is nothing

None

Topic 8 : **Operators**

In [ ]:
#Airthmetic Operator
print(5 + 6)
print(5 - 4)

print(5 * 7)

print(5 / 2)

print(5 // 2)   # integer (floor) division

print(5 % 2)    # modulus (remainder)

print(5 ** 2)   #power operator

11
1
35
2.5
2
1
25

In [ ]:
#Realtional Operator
print(4<5) ##greator than

print(4>5) ## smaller than

print(4<=5) #greator than equal to
print(4>=5) #smaller than equal to
print(4==5) #comparison operator
print(4!=5) #not equal to

True
False
True
False
False
True

In [ ]:
## Logical Operator
print(1 and 0)

print(1 or 0)

print(not 1)

0
1
False

In [ ]:
# bitwise Operator -> operates in Binary operator

#bitwise and
print(9 & 5) #AND operator

print(4|3) # OR operator

print(2^3) # XOR operator

print(~3) #Not operator

print(4>>2) ## right shift

print(4<<2) ## left shift

1
7
1
-4
1
16

In [ ]:
# Assignment Operator
# in python post increment a++ and pre increment operator are not used

a=2
a+=2
print(a)

4

In [ ]:
## membership operator
# in/not in

print('D' in 'Delhi')
print('T' in  'Delhi')
print('T' not in  'Delhi')

print(1 in [2,3,4,5,6])
print(1 not in [2,3,4,5,6])

True
False
True
False
True

In [ ]:
##Program 1 : find the sum of a 3 digit number entered by a user
number = 345

a=number %10

print(a)

number=number//10
print(number)

5
34

IF - else in python

In [ ]:
k#login program and indentation
email = input('enter the email ')
password = input('enter the password ')

if email == 'raunakdwivedi23@gmail.com' and password == '1234':
    print('welcome to Gotham city')
elif email == 'raunakdwivedi23@gmail.com':
    print('password galat hai')
else:
    print('chala ja ab buddi mat chatka')

enter the email cjy
enter the password jil
chala ja ab buddi mat chatka

In [ ]:
##Min of 3 number
a=int(input('enter the first number '))
b=int(input('enter the second number '))
c=int(input('enter the third number '))

if(a<b and a<c):
  print('a is smallest')
elif b>c:
  print('b is smallest then c')
else:
  print('c is greater ')

enter the first number 4
enter the second number 8
enter the third number 9
a is smallest

In [ ]:
# menu driven calculator
fnum= int(input('enter the first number '))
snum= int(input('enter the second number '))
operation = input('enter the operation ')

if operation == '+':
  print(fnum + Snum)
elif operation == '-':
  print(fnum - snum)
elif operation == '*':
  print(fnum * snum)
elif operation == '/':
  print(fnum / snum)
else:
  print('invalid operation')
  print(fnum * snum)

enter the first number 7
enter the second number 9
enter the operation 0
invalid operation
63

In [ ]:
## ATM program
menu =input("""
Hi! how can i help you.
1. Enter 1 for pin change
2. Enter 2 for balance check
3. Enter 3 for withdrawal
4. Enter 4 for exit """
)

if menu == '1':
  print('pin change')
elif menu == '2':
  print('balance check')
else:
    print('exit')

Hi! how can i help you.
1. Enter 1 for pin change
2. Enter 2 for balance check
3. Enter 3 for withdrawal
4. Enter 4 for exit 2
balance check

**Modules**  --> reusable Python file (.py)

In [ ]:
# math
import math

math.sqrt(483)
math.factorial(4)
math.floor(6.3)
math.ceil(4.3)

5

In [ ]:
## keyword
import keyword
print(keyword.kwlist) ##this is the 32 keyword in python

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#random
import random
print(random.randint(1,100)) ## random number between 1 to 100 give ranges

82

In [ ]:
#datetime
import datetime
print(datetime.datetime.now())

2026-01-03 15:51:50.134846

In [ ]:
help('module')

No Python documentation found for 'module'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

**Loops in Python**

*   need for loop
*   for loop
*   while loop

Loops help in automating repetitive tasks such as processing API responses, handling user authentication attempts, batch-processing large datasets, and iterating over configuration or log data efficiently.‚Äù

In [ ]:
#while loop example -> program to print the table
#Program-> sum of all digits of a given sum
# program -> keep accepting number from user till he enter a 0 and then find the average

In [ ]:
number =int(input('enter the number '))
i=1

while i<11:
  print(number, '*' , i ,'=' , number*i )
  i+=1

enter the number 34
34 * 1 = 34
34 * 2 = 68
34 * 3 = 102
34 * 4 = 136
34 * 5 = 170
34 * 6 = 204
34 * 7 = 238
34 * 8 = 272
34 * 9 = 306
34 * 10 = 340

In [ ]:
#while loop with end
x=1

while x<5:
  print(x)
  x+=1

else:
    print('limit crossed')

1
2
3
4
limit crossed

In [ ]:
#Guessing game

#generate a random integer between 1 and 100
import random

jackpot = random.randint(1, 100)

guess = int(input('guess karo: '))
count = 1

while guess != jackpot:
    if guess < jackpot:
        print('galat! guess higher')
    else:
        print('galat! guess lower')

    guess = int(input('guess karo: '))
    count += 1

else:
    print('correct guess')
    print('attempts:', count)

guess karo: 83
galat! guess lower
guess karo: 82
galat! guess lower
guess karo: 70
galat! guess lower
guess karo: 40
galat! guess higher
guess karo: 50
galat! guess higher
guess karo: 6
galat! guess higher
guess karo: 60
galat! guess higher
guess karo: 6
galat! guess higher
guess karo: 66
galat! guess lower
guess karo: 64
correct guess
attempts: 10

In [ ]:
#for loop demo

for i in range(1,11,2): ## (initial number, final number , stepcount)
  print(i)

1
3
5
7
9

In [ ]:
for i in range(10,0,-2): ## reverse(initial number, final number , stepcount)
  print(i)

10
8
6
4
2

In [ ]:
for i in 'delhi': ## (initial number, final number , stepcount)
  print(i)

d
e
l
h
i

In [ ]:
for i in [1,2,3,4,5,6,67]: ## (initial number, final number , stepcount)
  print(i)

1
2
3
4
5
6
67

In [ ]:
#for loop example
curr_pop =10000

for i in range(10,0,-1):
  print(i,curr_pop)
  curr_pop = curr_pop/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

**TASKS **

In [ ]:
## printing the given string as per stated format
print("data","science","mentership","form",sep='-',end='-started-')
print("by","raunak",sep='-')

data-science-mentership-form-started-by-raunak

In [ ]:
##convert celcius into farenheits
celcius=float(input('entre the temperature in celcius'))

faren=celcius*(9/5)+32

print(faren,'F')

entre the temperature in celcius34
93.2 F

In [ ]:
##swaping without using any special syntax
a=3
b=4

temp=a
a=b
b=temp

print(a,b)

In [ ]:
##find the euclidian distance between two points
p_x1=int(input('entre x cordinate of 1st point'))
p_y1=int(input('entre y cordinate of 1st point'))
p_x2=int(input('entre x cordinate of 2nd point'))
p_y2=int(input('entre y cordinate of 2nd point'))

distance=((p_x2-p_x1)**2)+((p_y2-p_y1)**2)**0.5

print(round(distance,2))

entre x cordinate of 1st point3
entre y cordinate of 1st point2
entre x cordinate of 2nd point1
entre y cordinate of 2nd point4
6.0

In [ ]:
## caluculate simple interest
p=int(input('entre the principal'))
r=int(input('entre the rate'))
t=int(input('entre the time'))

si=(p*r*t)/100

print(si)

entre the principal3
entre the rate4
entre the time2
0.24

In [ ]:
##write the program of first 10 natural number sqaure sum
n=int(input('entre the number '))

result=(n*(n+1)*(2*n+1))/6

print(result)

entre the number 28
7714.0

In [ ]:
##given the first 2 term of an airthmetic series. find the nth term of the series. assume all inputs are provided by the users
##an=a+(n-1)d
n=int(input('entre the number '))
a1=int(input('entre the first term '))
a2=int(input('entre the second term'))

d=a2-a1

an=a+(n-1)*d
print(an)

entre the number 5
entre the first term 2
entre the second term4
9

In [ ]:
##given 2 fractions, find the the sum of those 2 fractions. take the numerator and denominator values of the fraction from the users
numerator1=int(input('entre the first numerator'))
denominator1=int(input('entre the first denominator'))
numerator2=int(input('entre the second numerator'))
denominator2=int(input('entre the second denominator'))

sum = numerator1/denominator1 + numerator2/denominator2

print(sum)

entre the first numerator2
entre the first denominator4
entre the second numerator3
entre the second denominator6
1.0

In [ ]:

## height, weidth and breadth of milk tank , you have to find out how many glasses of milk can be obtained ?
height=int(input('entre the height'))
width=int(input('entre the width'))
breadth=int(input('entre the breadth'))


height_glass=float(input('entre the height of glass'))
RADIUS_glass=float(input('entre the RADIUS  of glass'))

volume_tank=height*width*breadth
volume_glass=3.14*(RADIUS_glass**2)*height_glass

no_of_glass=volume_tank/volume_tank
print('number of glass will be',no_of_glass )

entre the height3
entre the width4
entre the breadth3
entre the height of glass2
entre the RADIUS  of glass4
number of glass will be 1.0

In [ ]:
ctc = int(input('entre the annnual CTC'))

if ctc < 500000:
  salary=ctc*.82
elif ctc<1000000:
    salary=ctc*.72
elif ctc < 2000000:
   salary=ctc*.62
else:
  salary = ctc*.52

  print("your in hand salary will be " , round(salary/12,2))

entre the annnual CTC200000000
your in hand salary will be  8666666.67

In [ ]:
##write a program that take a user input of three angles and will find out whether it can form a triangle or not
first = int(input('entre the first angle'))
second =int(input('entre the second angle'))
third =int(input('entre the third angle'))

if first+second+third == 180 and first>0 and second >0 and third>0:
  print('it is a triangle')
else:
  print('it is not a triangle')

entre the first angle23
entre the second angle40
entre the third angle80
it is not a triangle

In [ ]:
##menu driven program
menu =input("""
Hi! how can i help you.
1. cm to ft
2. USD to INR
3.km to miles
4. EXIT
""")

if menu == '1':
  cm=float(input("enter the cm value"))
  print('ft value is' , 0.032*cm)
elif menu == '2':
  usd=float(input("enter the USD value"))
  print('INR value is' ,90*usd)
elif menu == '3':
  km=float(input("enter the km value"))
  print('miles value is' ,km*0.62)
else:
  print('EXIT')

Hi! how can i help you.
1. cm to ft
2. USD to INR
3.km to miles
4. EXIT
1
enter the cm value43
ft value is 1.3760000000000001

In [ ]:
##fibonacci series upto 10 terms
num1,num2=0,1

for i in range(20):
  print(num1)

  next = num1 + num2

  num1 =num2
  num2 = next

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

In [ ]:
##factorial of given number
num=int(input('entre the number'))

fact=1
for i in range(1,num+1):
  fact=fact*i

print(fact)

entre the number7
5040

In [ ]:
##Reverse a given integer number
num=int(input('entre the number'))

rev=0
while num>0:
  last=num%10
  rev=rev*10+last
  num=num//10

print(rev)

entre the number1234555
5554321

In [ ]:
n = int(input("Enter the number: "))
total = 0

for i in range(1, n + 1):
    if i % 5 == 0:
        continue   # skip multiples of 5

    total += i     # add non-multiples of 5

    if total > 300:
        total -= i  # undo last addition
        break

print("Sum of the numbers is:", total)

Enter the number: 15
Sum of the numbers is: 90

In [ ]:
##write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers
total = 0
count = 0

while True:
    num = int(input("Enter the number: "))

    if num == 0:
        break

    total += num
    count += 1

if count > 0:
    print("Sum:", total)
    print("Average:", total / count)
else:
    print("No numbers entered")

Enter the number: 7
Enter the number: 8
Enter the number: 5
Enter the number: 0
Sum: 20
Average: 6.666666666666667

In [ ]:
##WRITE  a program which will find number which is divisible by 7 but nit a multiple of 5 between 2000 and 3200(both inculde)
l = []

for i in range(2000, 3201):
    if i % 7 == 0 and i % 5 !=0:
      l.append(str(i))


print(",".join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [ ]:
l=[]
for i in range(1000,3001):
  flag=True

  curr=i

  while curr>0:
    digit=curr%10
    if digit%2!=0:
      flag=False
      break
    curr=curr//10
  if flag == True:
    l.append(str(i))


print(','.join(l))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

In [ ]:
#sequence sum
n=int(input('entre the number'))

result=0
fact=1
for i in range(1,n+1):
  fact=fact*i
  result=result + i/fact

print(result)

entre the number5
2.708333333333333

**Nested loop**

In [ ]:
#unique pair
for i in range(1,5):
  for j in range(1,5):
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [ ]:
#pattern 1
n=int(input('entre the number'))
for i in range(1,n+1):

  for j in range(1,i+1):

    print('*',end=' ')

  print()

entre the number7
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [ ]:
#pattern 2
n = int(input('enter the number: '))

for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end='')
    for k in range(i - 1, 0, -1):
        print(k, end='')
    print()

enter the number: 5
1
121
12321
1234321
123454321

In [ ]:
##break
for i in range(1,10):
  if i == 5:
    break
  print(i)

1
2
3
4

In [ ]:
#printing Prime number
l = int(input('enter the lower limit: '))
u = int(input('enter the upper limit: '))

for i in range(l, u + 1):
    if i > 1:
        is_prime = True
        for j in range(2, i):
            if i % j == 0:
                is_prime = False
                break
        if is_prime:
            print(i)

enter the lower limit: 6
enter the upper limit: 30
7
11
13
17
19
23
29

In [ ]:
#continue statement
for i in range(1,10):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9